* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  align-content: center;
}

.flatpickr-input,
button[data-start] {
  font-size: 1rem;
}
.field {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field:not(:last-child) {
  margin-right: 10px;
}
.value {
  font-size: 1.2rem;
  font-weight: 700;
}
